<nav class="navbar bg-white">
  <div class="container-fluid justify-content-between">
    <!-- mobile menu -->
    <button class="d-none d-sm-block d-md-none border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMainNav"
            aria-controls="offcanvasMainNav" aria-expanded="false" aria-label="Toggle navigation">
      <%= inline_svg "menu-closed", class: "icon" %>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMainNav" aria-labelledby="offcanvasMainNav">
      <div class="offcanvas-header">
        <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body px-0">
        <ul class="navbar-nav justify-content-between">
          <li><%= link_to "Men", "#", class: "nav-link fw-500 text-uppercase p-3" %></li>
          <li><%= link_to "Women", "#", class: "nav-link fw-500 text-uppercase p-3" %></li>
          <li class="border-top">
            <%= link_to "Account", "#", class: "nav-link fw-500 text-uppercase p-3" %>
          </li>
        </ul>
      </div>
    </div>

    <!-- left menu -->
    <ul class="justify-content-between list-unstyled d-none d-md-flex mb-0">
      <li><%= link_to "Men Left", "#", class: "nav-link fw-500 mx-1" %></li>
      <li><%= link_to "Women", "#", class: "nav-link fw-500 mx-1" %></li>
    </ul>

    <!-- center logo -->
    <div class="d-flex justify-content-center">
      <%= link_to "Rails Shop", root_path, class: "navbar-brand me-0" %>
    </div>

    <!-- right menu -->
    <ul class="d-flex justify-content-center align-items-center list-unstyled mb-0">
      <li class="nav-item mx-3 d-none d-md-block">
        <%= inline_svg 'user.svg', class: "icon" %>
      </li>
      <li class="nav-item mx-3 d-none d-md-block">
        <%= inline_svg 'search', class: "icon" %>
      </li>
      <li class="nav-item mx-3">
        <%= inline_svg 'cart.svg', class: "icon" %>
      </li>
    </ul>

  </div>
</nav>